* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: black;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: black;
}

#webDevelopment {
  background-image: url(/docs/images/paper01.png);
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin: 50px;
  /* text-align: right; */
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 1%;
  width: 500px;
  height: 300px;
}

#audioProduction {
  background-image: url(/docs/images/paper02.png);
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin: 50px;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 1%;
  width: 500px;
  height: 300px;
}

#photography {
  background-image: url(/docs/images/paper03.png);
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin: 50px;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 1%;
  width: 500px;
  height: 300px;
} 

#company {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 50px;
}

#name {
  padding-top: 130px; 
  padding-bottom: 70px;
  padding-left: 20px;
  font-size: large;
}

#phone {
  padding-left: 0px;
  padding-right: 00px;
  padding-bottom: 50px;
}

#industry {
  font-size: small;
}
#email {
  padding-left: 10px;
  font-size: small;

}
#centering {
  padding-left: 160px;
  padding-top: 125px;
  padding-bottom: 125px;
}

#title {
  font-size: small;
}

#photography:hover {
  background-image: url(/docs/images/seattle.png);
}

#webDevelopment:hover {
  text-shadow: 2px 2px 20px white;
}

#audioControls {
  padding-right: 50px;
  padding-top: 170px;
}

#audioProduction:hover {
  text-shadow: 2px 2px 20px white; 
}